@import 'styles/global';

.chunky-button {
  background: $black;
  color: $white;

  cursor: pointer;

  display: flex;
  flex-align: center;
  align-items: center;

  padding: 8px 12px;

  border-radius: 3px;

  user-select: none;

  margin: 4px;

  &.disabled {
    background: $gray;
  }
}